@font-face {
  font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html{
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  font-family: yg-jalnan;
}

.menu {
  position: fixed;
  top: 3%;
  z-index: 100;
  width: 30%;
  /* display: grid;
  grid-template-columns: repeat(8,5%);
  justify-content: center; */
  padding: 0;
}

.menu li {
  list-style: none;
  width: 100%;
  height: 20px;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  transition: background .3s ease-out;
}
.sub {
  display: none;
  background-color: #f8f8f8;
  opacity: 0.6;
}
.active {
  display: block;
}

section{
  width: 100%;
  height: 100%;
  text-align: center;
}

.one{
  margin: 0 10px;
  width: 100%;
}

.one p{
  margin-top: 10px;
  line-height: 2rem;
  font-weight: bold;
  display: inline-block;
  max-width: 700px;
  font-size: 1.2rem;
}
.two {
  background: #ffe9e3;
  width: 100%;
  height: 1200px;
  margin-top: 100px;
  overflow-y: hidden;
}
.two img{
  height: 100%;
  position: relative;
  left: -300px;
}

.red_watch{
  text-align: end;
  position: relative;
  top:-90%;
  right: -20%;
  display: inline-block;
  font-size:27px;
  line-height:9rem;
}

.three {
  margin-top: 200px;
  height: 100%;
}

.slide{
  display: grid;
  grid-template-columns: repeat(16,300px);
  width: 200%;
  background-color: #f8f8f8;
  opacity: 0.3;
  overflow-x: hidden;
}

.slide img{
  height: 300px;
  animation-delay: 0;
  animation: slide 50s infinite linear;
}
.three{
  height: 100%;
}
.water{
  margin-top: 150px;
}

.water_desc{
  position: relative;
  width:30%;
  display: inline-block;
  font-size: 1.5rem;
  top: -20px;
  line-height: 2.5rem;
}
.water_desc p{
  margin-top: 100px;
}

#water_img{
  position: relative;
  width: 40%;
  right: -12%;
}
.four{
  margin-top: 100px;
}
.info_box {
  align-items: center;
  display: grid;
  place-content: center;
  grid-template-columns: 35% 35%;
  justify-items: center;
}
.watch_info{
  width: 50%;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.8em;
  height:406px;
  z-index: 100;
}

.five{
  margin-top: 100px;
}

.five p{
  position: relative;
  display: inline-block;
  top: -280px;
  width: 25%;
}

.seven {
  margin-top: 200px;
}
.seven img{
  margin: 45px 0;
}
.seven p{
  width: 30%;
  text-align: left;
  display: inline-block;
  font-size: 1.2em;
}
.eight{
  margin-top: 100px;
  padding-left: 15%;
  background-color: #fff;
  height: 400px;
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 100%;
  align-items: center;
}

.eight .bands{
  position:absolute;
  margin-left: 100px;
  left: 700px;
  overflow-x: hidden;
}
.bands_slide {
  display: grid;
  grid-template-columns: repeat(9,400px);
  /* margin-left: -400; */
}
.eight .bands img{
  height: 400px;
}
.watch_body{
  position: relative;
  z-index: 100;
  width: 400px;
  height: auto;
  top: -400px;
  right:-1200px;
}

@keyframes slide{
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -900%;
  }
}

@media (max-width: 1024px){
  .red_watch{
    text-align: center;
    top:-80%;
    right: -20%;
    font-size:20px;
    line-height:4rem;
    width: 35%;
  }
  .water_desc{
    font-size: 20px;
    line-height: 2rem;
  }
  .water_desc h1{
    line-height: 3rem;
  }
  #water_img {
    width: 50%;
    top: -150px;
  }
}

@media only screen and (max-width: 768px){
  section{
    overflow-x: hidden;
  }
  #mainImg {
    width: 140%;
    position: relative;
    left: -22%;
  }
  #watchse{
    width: 30%;
    position: relative;
    left: -2%;
  }
  .desc{
    width: 95%;
    font-size: 0.8rem;
  }
  .one p{
    font-size: 0.9rem;
    width: 300px;
  }
  .two {
    height: 950px;
  }
  .two img{
    height: 100%;
    position: relative;
    left: -350px;
    opacity: 0.6;
  }
  
  .red_watch{
    top:-90%;
    right: -20%;
    font-size:17px;
    line-height:3rem;
    width: 200px;
  }
  .three {
    margin-top: 100px;
  }
  .slide{
    overflow-x: hidden;
    width: 100vw;
  }
  .slide img{
    height: 200px;
  }

  .water{
    margin-top: 110px;
    height: 600px;
    overflow: hidden;
  }
  
  .water_desc{
    width:80%;
    font-size: 0.8rem;
    top: -20px;
    line-height: 1.2rem;
    z-index: 50;
    text-align: left;
    padding-top: 10px;
  }
  .water_desc h1{
    width: 40%;
    line-height: 1.2em;
  }
  .water_desc p{
    margin-top: 30px;
  }
  
  #water_img{
    position: relative;
    width: 110%;
    left: 0;
    top: 0;
  }

  .info_box {
    display:block;
    justify-items: center;
    margin-top: 120px;
  }
  .watch_info{
    position: relative;
    left: 10%;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    line-height: 1.8em;
  }
  
  .watch_info_img img{
    width: 100%;
  }

  .info_top{
    top: 406px;
  }
  .img_bot{
    position: relative;
    top: -406px;
  }
  .five{
    background-color: #fff;
  }

  .five img{
    width: 210%;
  }
  .five p{
    top: -60px;
    width: 70%;
    font-size: 0.8em;
  }

  .seven img{
    width: 100%;
  }
  .seven p{
    width: 85%;
    font-size: 0.8em;
  }
  .eight{
    padding: 0;
    height: 300px;
    display: block;
    width: 100%;
  }
  .bands_title{
    display: inline-block;
    width: 80%;
  }

  .eight .bands{
    position:absolute;
    margin-left: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  .bands_slide {
    grid-template-columns: repeat(9,200px);
  }
  .eight .bands img{
    height: 200px;
  }
  .watch_body{
    z-index: 100;
    width: 200px;
    top: -190px;
    right:0;
  }
}